% cover_letter.tex.j2
% XeLaTeX/Tectonic + Jinja2 cover-letter template for JAW.
%
% Canonical JAW objects:
%   user.full_name
%   user.phone_number
%   user.email
%   user.linkedin
%   user.portfolio
%   job_ref.title
%   job_ref.company
%   system.current_date
%
% Workbench Sections:
%   greeting
%   paragraphs
%   signoff
%
% JAW automatically escapes inserted text for LaTeX at the final Template
% boundary. Use latex_raw(value) only for deliberately trusted LaTeX markup.

{% set linkedin_value = user.linkedin | default('', true) %}
{% set website_value = user.portfolio | default('', true) %}
{% set linkedin_display = linkedin_value | replace('https://', '') | replace('http://', '') | replace('www.', '') %}
{% set website_display = website_value | replace('https://', '') | replace('http://', '') | replace('www.', '') %}
{% set title_value = job_ref.title | default('', true) %}
{% set title_words = title_value.split() %}

\documentclass[10pt,letterpaper]{article}

\usepackage[letterpaper,left=2.52in,right=0.48in,top=1.84in,bottom=0.28in]{geometry}
\usepackage{fontspec}
\usepackage{xcolor}
\usepackage{tikz}
\usepackage{graphicx}
\usepackage{fontawesome5}
\usepackage{ragged2e}
\usepackage{microtype}
\usepackage{hyperref}
\usepackage{etoolbox}

\pagestyle{empty}
\setlength{\parindent}{0pt}
\setlength{\parskip}{0pt}
\setlength{\emergencystretch}{3em}
\hyphenpenalty=10000
\exhyphenpenalty=10000
\tolerance=1800

\definecolor{BrandBlue}{HTML}{364C60}
\definecolor{HeaderBlue}{HTML}{8DB3E2}
\definecolor{BodyGray}{HTML}{404040}
\definecolor{RuleGray}{HTML}{D0D0D0}
\definecolor{SignatureGray}{HTML}{595959}

% Use static Windows fonts. Variable Open Sans files can render in XeTeX but
% fail later in xdvipdfmx under Tectonic on Windows.
\IfFontExistsTF{Arial}
  {\setmainfont{Arial}}
  {\setmainfont{Segoe UI}}

\IfFontExistsTF{Arial}
  {\newfontfamily\headerfont{Arial}}
  {\newfontfamily\headerfont{Segoe UI}}

\IfFontExistsTF{JaneAusten}
  {\newfontfamily\signaturefont{JaneAusten}}
  {\IfFontExistsTF{Segoe Script}
     {\newfontfamily\signaturefont{Segoe Script}}
     {\newfontfamily\signaturefont{Arial}}}

\hypersetup{
  colorlinks=true,
  urlcolor=BodyGray,
  linkcolor=BodyGray
}

% Keep the sidebar geometry predictable, but fit each value into the available
% width automatically. Long URLs shrink only as much as needed; they never cross
% the separator or force the main document body to move.
\newlength{\SidebarIconX}
\newlength{\SidebarTextX}
\newlength{\SidebarRuleX}
\newlength{\SidebarRulePadding}
\newlength{\SidebarTextMax}
\newlength{\SidebarStartY}
\newlength{\SidebarRowGap}
\newsavebox{\SidebarValueBox}

\setlength{\SidebarIconX}{0.250in}
\setlength{\SidebarTextX}{0.395in}
\setlength{\SidebarRuleX}{2.28in}
\setlength{\SidebarRulePadding}{0.10in}
\setlength{\SidebarTextMax}{\dimexpr\SidebarRuleX-\SidebarTextX-\SidebarRulePadding\relax}
\setlength{\SidebarStartY}{-2.76in}
\setlength{\SidebarRowGap}{0.29in}

{% raw %}
\newcommand{\SidebarValue}[1]{
  \sbox{\SidebarValueBox}{{\fontsize{9.6pt}{11pt}\selectfont #1}}
  \ifdim\wd\SidebarValueBox>\SidebarTextMax
    \resizebox{\SidebarTextMax}{!}{\usebox{\SidebarValueBox}}
  \else
    \usebox{\SidebarValueBox}
  \fi
}

\newcommand{\bodyfont}{\fontsize{10.35pt}{14.75pt}\selectfont\color{black}}
\newcommand{\CoverParagraph}[1]{
  \par\noindent\justifying\bodyfont #1\par\vspace{0.145in}%
}

\newcommand{\SidebarContact}[3]{
  \node[circle,fill=BrandBlue,minimum size=0.255in,inner sep=0pt,text=white]
    at ([xshift=\SidebarIconX,yshift=\dimexpr\SidebarStartY-#1\SidebarRowGap\relax]current page.north west)
    {\fontsize{8.3pt}{8.3pt}\selectfont #2};
  \node[anchor=west,text=BodyGray]
    at ([xshift=\SidebarTextX,yshift=\dimexpr\SidebarStartY-#1\SidebarRowGap\relax]current page.north west)
    {\SidebarValue{#3}};
}
{% endraw %}

\begin{document}

\begin{tikzpicture}[remember picture,overlay]
  \fill[BrandBlue]
    (current page.north west)
    rectangle ([yshift=-1.60in]current page.north east);
  \fill[BrandBlue]
    (current page.south west)
    rectangle ([yshift=0.11in]current page.south east);

  \node[anchor=north,text=HeaderBlue,align=center]
    at ([yshift=-0.225in]current page.north)
    {\headerfont\fontsize{36pt}{39pt}\selectfont\addfontfeatures{LetterSpace=7}
     \MakeUppercase{ {{ user.full_name }} }};

  \node[anchor=north,text=HeaderBlue,align=center,text width=7.8in]
    at ([yshift=-1.035in]current page.north)
    {\headerfont\fontsize{12.0pt}{14pt}\selectfont\addfontfeatures{LetterSpace=3}
     {% for word in title_words %}{{ word | upper }}{% if not loop.last %}\hspace{0.07in}{% endif %}{% endfor %}};

  \draw[RuleGray,line width=0.55pt]
    ([xshift=\SidebarRuleX,yshift=-1.79in]current page.north west)
    --
    ([xshift=\SidebarRuleX,yshift=0.24in]current page.south west);

  \SidebarContact{0}{\faMobile}{ {{ user.phone_number | default('', true) }} }
  \SidebarContact{1}{\faEnvelope}{ {{ user.email | default('', true) }} }
  \SidebarContact{2}{\faBriefcase}{ {{ linkedin_display }} }
  \SidebarContact{3}{\faHome}{ {{ website_display }} }
\end{tikzpicture}

\bodyfont

\noindent\hfill {{ system.current_date }}
\par\vspace{0.085in}

\CoverParagraph{ {{ greeting | default('Dear Hiring Team,', true) }} }

{% for paragraph in paragraphs %}
\CoverParagraph{ {{ paragraph }} }
{% endfor %}

\vspace{-0.055in}
\noindent\bodyfont {{ signoff | default('Sincerely,', true) }}
\par\vspace{0.035in}
\hspace*{0.16in}{\signaturefont\fontsize{15.5pt}{18pt}\selectfont\color{SignatureGray} {{ user.full_name }}}

\end{document}
