% JAW Sandbox
% Editable Workbench training template for Jinja + LaTeX authoring.
\documentclass[10pt,letterpaper]{article}
\usepackage[letterpaper,margin=0.7in]{geometry}
\usepackage{xcolor}
\pagestyle{empty}
\setlength{\parindent}{0pt}
\setlength{\parskip}{7pt}
\definecolor{JAWBlue}{HTML}{5F86A6}
\definecolor{JAWDark}{HTML}{263746}

{% raw %}
\newcommand{\JAWHeading}[1]{{\Large\bfseries\color{JAWDark} #1}\par\vspace{3pt}\hrule\vspace{6pt}}
{% endraw %}

\begin{document}
\JAWHeading{JAW Documents Sandbox}

Generated for \textbf{ {{ user.full_name }} }.

\textbf{Target role}\par
{{ job_ref.title }} at {{ job_ref.company }}

\textbf{Work experience}
\begin{itemize}
{% for item in work_exp %}
  \item \textbf{ {{ item.title }} } at {{ item.company }}
{% endfor %}
\end{itemize}

\textbf{Capabilities}\par
{% for capability in cap.all %}
{{ capability.name }}{% if not loop.last %}, {% endif %}
{% endfor %}

\textbf{System}\par
{{ system.current_date }}

\vfill
{\small\color{gray}Normal Workbench values are escaped automatically at the final Template boundary. Use latex\_raw(...) only for trusted LaTeX.}
\end{document}
